/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* HEADER SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.header {
  padding-bottom: 4.8rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
}

.logo {
  height: 4.8rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #868e96;
  font-size: 1.6rem;
  transition: all 0.3s;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: #343a40;
}

.btn.nav-btn:link,
.btn.nav-btn:visited {
  background-color: #76a8f2;
  color: #fff;
}

.btn.nav-btn:hover,
.btn.nav-btn:active {
  background-color: #6a97da;
}

.header-img {
  width: 100%;
  height: 50rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/1.jpg);
  background-size: cover;
  background-position: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* HEADER SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-guide {
  padding-bottom: 9.6rem;
}

.search {
  flex: auto 1000 0;
  position: relative;
}

.search-input {
  width: 100%;
  border: 2px solid #dee2e6;
  padding: 1.2rem 5.2rem 1.2rem 1.8rem;
  font-family: inherit;
  border-radius: 11px;
  font-size: 1.8rem;
  color: #343a40;
  font-weight: 500;
  display: inline-block;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-family: inherit;
  color: #adb5bd;
  font-size: 1.6rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
}

.search-icon {
  font-size: 2.4rem;
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.traveller-guide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}

.guide-card {
  height: 40rem;
  border-radius: 11px;
  position: relative;
  background-size: cover;
  background-position: top;
}

.card--1 {
  background-image: url(../img/guide/sohaib-al-kharsa-ui4W50Ry87k-unsplash.jpg);
}
.card--2 {
  background-image: url(../img/guide/james-timothy-Kh3aTWwMH1I-unsplash.jpg);
}
.card--3 {
  background-image: url(../img/guide/li-shanting-AGy0SxTzqr8-unsplash.jpg);
}
.card--4 {
  background-image: url(../img/guide/sohaib-al-kharsa-agQ0G6djwU4-unsplash.jpg);
}
.card--5 {
  background-image: url(../img/guide/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg);
}
.card--6 {
  background-image: url(../img/guide/toa-heftiba-O3ymvT7Wf9U-unsplash.jpg);
}

.guide-card-price {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 9px;
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.guide-card-data {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 11px;
  border: 1px solid #dee2e6;
  padding: 2.4rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  transition: all 0.3s;
}

.guide-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: #343a40;
}

.description-title {
  font-weight: 600;
  color: #343a40;
  margin-bottom: 1rem;
}

.guide-description {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: start;
  color: #495057;
  padding-top: 1.2rem;
  border-top: 1px solid #dee2e6;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  height: 0;
  transition: opacity 0.2s;
}

.card-main-data {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.guide-card:hover .guide-description {
  visibility: visible;
  opacity: 1;
  pointer-events: none;
  height: auto;
}

.guide-rank {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.guide-rank i {
  font-size: 1.6rem;
  color: #f59f00;
}

.guide-review {
  color: #868e96;
  font-size: 1.4rem;
}

.card-second-data {
  font-size: 1.6rem;
  /* margin-bottom: 1.6rem; */
  color: #495057;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.card-second-data i {
  font-size: 1.8rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* PLACES SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-places {
  padding-bottom: 9.6rem;
}

.places-card {
  border: 1px solid #dee2e6;
  border-radius: 11px;
  overflow: hidden;
}

.place-img {
  height: 20rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.place--1 {
  background-image: url(../img/place/damiano-baschiera-hFXZ5cNfkOk-unsplash.jpg);
}
.place--2 {
  background-image: url(../img/place/heidi-kaden-NncAbldgViA-unsplash.jpg);
}
.place--3 {
  background-image: url(../img/place/spencer-davis-ONVA6s03hg8-unsplash.jpg);
}

.place-details {
  padding: 2.4rem;
  text-align: start;
}

.rank-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.guides-in-place {
  font-size: 1.4rem;
  font-weight: 600;
}

.place-name {
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.place-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: #343a40;
  margin-top: 2.4rem;
}

.places {
  position: relative;
}

.next {
  cursor: pointer;
  font-size: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.next:hover {
  background-color: #f8f9fa;
}

.next--left {
  left: 0;
  transform: translate(-50%, -100%);
}

.next--right {
  right: 0;
  transform: translate(50%, -100%);
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* TESTIMONIALS SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #f8f9fa;
}

.testimonial-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.testimonial {
  background-color: #fff;
  padding: 3.6rem;
  border-radius: 11px;
  position: relative;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);
}

.testimonial::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background-color: inherit;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 45%) rotate(45deg);
  border-radius: 3px;
}

.testimonial-title {
  font-size: 2.4rem;
  color: #343a40;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.testimonial-img {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.testimonial-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 1.4rem;
}

.testimonial-job {
  font-size: 1.4rem;
}

.pagination {
  width: 1.6rem;
  height: 1.6rem;
  border: 3px solid #6a97da;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.pagination::after,
.pagination::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #6a97da;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.pagination::after {
  transform: translate(150%, -50%);
  left: 100%;
}

.pagination::before {
  right: 100%;
  transform: translate(-150%, -50%);
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* FAQ SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-faq {
  padding: 9.6rem 0;
}

.questions {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2.4rem;
}

.question {
  padding: 2.4rem;
  border: 1px solid #dee2e6;
  border-radius: 11px;
}

.question.active {
  background-color: #f8f9fa;
}

.question-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.question-header i {
  font-size: 2.8rem;
}

.question-open {
  display: none;
}

.question.active .question-close {
  display: none;
}

.question.active .question-open {
  display: block;
}

.question-text {
  font-size: 2.4rem;
  font-weight: 700;
  color: #343a40;
}

.question-answer {
  width: 60%;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  line-height: 1.6;
  display: none;
}

.question.active .question-answer {
  display: block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* HOW IT WORKS SECTION */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section-how {
  padding: 9.6rem 0;
}

.features {
  margin-bottom: 9.6rem;
}

.feature-icon {
  font-size: 4.8rem;
  color: #6a97da;
  margin-bottom: 2.8rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 1.8rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.cta {
  background: hsla(216, 82%, 74%, 1);

  background: -moz-linear-gradient(
    360deg,
    hsla(216, 82%, 74%, 1) 0%,
    hsla(216, 45%, 56%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(216, 82%, 74%, 1) 0%,
    hsla(216, 45%, 56%, 1) 100%
  );

  background: linear-gradient(
    to right bottom,
    hsla(216, 82%, 74%, 1) 0%,
    hsla(216, 45%, 56%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#84B1F3", endColorstr="#5E86C2", GradientType=1 );
  padding: 4.8rem 6.4rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #fff;
  width: 65%;
}

.cta-btn:link,
.cta-btn:visited {
  background-color: #fff;
  color: #6a97da;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 2.4rem;
  border-radius: 9px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: #f8f9fa;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* FOOTER */
/*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer {
  padding: 9.6rem 0;
  background-color: #495057;
  color: #f8f9fa;
}

.logo-col {
  grid-column: span 2;
  width: 90%;
}

.logo-footer {
  height: 6.8rem;
  margin-bottom: 3.2rem;
}

.footer-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  padding: 0.2rem;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.footer-link:hover,
.footer-link:active {
  border-bottom: 1px solid #f8f9fa;
}
